/*-- scss:defaults --*/

$jgreen: #009400 !default;

$h1-font-size:        1.6rem !default;
$h2-font-size:        1.4rem !default;
$h3-font-size:        1.1rem !default;

$navbar-bg:                         $jgreen !default;
$navbar-light-active-color:         $jgreen !default;
$navbar-dark-color:                 $jgreen !default;